.workspaces {
  label {
    font-size: 0.2em;
    min-width: 4em;
    min-height: 4em;
    border-radius: 1.9rem * .6;
    transition: 300ms * .5;
    background-color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-workspaces-available);
    color: rgba(255, 255, 255, 0.3);

    &.occupied {
      background-color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-workspaces-occupied);
      color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-workspaces-occupied);
      min-width: 4em;
      min-height: 4em;
    }

    &.active {
      color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-workspaces-active);
      background-color: rgba(255, 255, 255, 0.2);
      min-width: 12em;
      min-height: 4em;
    }

    &.workspace-icon {
      background-color: transparent;
      min-width: 0em;
      min-height: 0em;
      border-radius: 0em;
      transition: 300ms * .5;
      font-size: 1em;
    }

    &.workspace-number {
      background-color: transparent;
      min-width: 0em;
      min-height: 0em;
      border-radius: 0em;
      transition: 0ms;
      padding: 0em 0.5em;
      font-size: 1em;
    }

    &.underline {
      border-top: 0.1em solid transparent;
      border-bottom: 0.1em solid $bar-buttons-workspaces-numbered_active_underline_color;
    }

    &.highlight {
      color: #dedede;
      border-radius: $bar-buttons-workspaces-numbered_active_highlight_border;
      background-color: rgba(187, 154, 247, 0.6);
      // background-color: rgba(255, 255, 255, 0.3);
      padding: 0.15rem 0.5em;
    }

    &.unfocused-highlight {
      color: #dedede;
      border-radius: $bar-buttons-workspaces-numbered_active_highlight_border;
      // background-color: rgba(187, 154, 247, 0.6);
      background-color: rgba(255, 255, 255, 0.3);
      padding: 0.15rem 0.5em;

    }
  }
}

.workspace-button {
  &:hover label {
    color: $bar-buttons-workspaces-hover;

    &.default {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &:hover .can_underline {
    border-top: 0.1em solid transparent;
    border-bottom: 0.1em solid if($bar-buttons-monochrome, $bar-buttons-workspaces-hover, $bar-buttons-workspaces-hover);
  }

  &:hover .can_highlight {
    background-color: rgba(187, 154, 247, 0.8);
    color: #dedede;
    border-radius: $bar-buttons-workspaces-numbered_active_highlight_border;
    padding: 0.15rem 0.5em;
  }
}
